doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://unpkg.com/mvp.css@1.12/mvp.css")
        title WA_ZOOM VIDEO
        style.
            main {
                display: flex;
                flex-direction: column;
                justify-content:center;
                align-items: center;
                max-width: 640px;
            }
            .formContainer form {
                display: flex;
                flex-direction: column;
                justify-content:center;
                align-items: center;
                margin-bottom: 10px;
            }
            .loading {
                display: none;
                position: absolute;
                border-radius: 50%;
            }
            .showing {
                position: relative;
                display: none;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 10px;
                border: 2px solid black;
                border-radius: 7px;
                margin-bottom: 25px;
            }
            .showing #peerVideo {
                position: relative;
                width: 100%;
                max-width:640px;
                padding: 10px;
                border-top: 2px solid black; 
                border-bottom: 2px solid black;
                margin-bottom: 10px;
            }
            .btnContainer {
                display: flex;
                justify-content: space-around;
                width: 100%;
                z-index: 1;
                margin-bottom: 10px;
            }
            .btn {
                width: 20px;
                padding: 10px;
                background: white;
                border : 2px solid black;
                border-radius: 50%;
                cursor: pointer;
            }
            .btn:hover{
                border: 2px solid #0E8BEE;
            }
            #myContainer {
                position: absolute;
                bottom: 23%;
                right: 45px;
            }
            .msgForm{
                bottom: 0;
                width: auto;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
            }
            .msgForm input {
                width: 70%;
                margin: 0;
            }
            .msgForm button {
                padding: 5px;
                font-size: 12px;
                margin-left: 5px;
            }
            #chatRoom {
                width: 100%;
                height: 200px;
                font-size: 11px;
                overflow-y: auto;
                background: #f5f6fa;
                border-radius: 7px;
                margin-bottom: 10px;
            }
            #chatRoom ul {
                display: flex;
                flex-direction: column;
                padding: 0;
            }
            #chatRoom li {
                display: flex;
                list-style-type: none;
            }
            #chatRoom span {
                border: none;
                border-radius: 7px;
                padding: 8px;
                margin: 3px;
                color: white;
                font-weight: bold;
            }
            .myChat {
                justify-content: end;
                margin-right: 10px;
            }
            .peerChat{
                justify-content: start;
            }
            .myChat span {
                background: #0E8BEE;
            }
            .peerChat span {
                background: #353b48;
            }
    body
        header 
            h1 WA_ZOOM VIDEO 😎
        main
            .formContainer
                form#enterForm(action="", method="get")
                    h3 와줌 채팅방 리스트
                    #publicRoomList 
                        ul
                    input(type="text", name="enterInput", placeholder="채팅방 이름 입력", maxLength="10" required)
                    button 채팅방 입장하기
            div
                #peerContainer.showing
                    select    
                    video#peerVideo(width="300", height="200",autoplay, playsinline)
                    #myContainer
                        video#myVideo(width="100", height="75", autoplay, playsinline)
                    .btnContainer
                        img.btn#camBtn(src="static/images/cam-off.png", alt="카메라 버튼")
                        img.btn#muteBtn(src="static/images/mute-icon.png", alt="마이크 버튼")
                    .loading
                        include partials/loading.pug
                #chatContainer.showing
                    h3 채팅창
                    #chatRoom
                        ul
                    form.msgForm
                        input#msgInput(type="text", name="msgInput", placeholder="메시지를 입력해주세요.", maxLength="10" required)
                        button 전송
        

                
                
    script(src="/socket.io/socket.io.js") <!-- 브라우저에 socketIO 설치 -->
    script(src="/static/js/videoApp.js")